@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Regular.woff") format("woff"), url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Mont";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Mont";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 15px;
  line-height: 150%;
  font-family: Mont, sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

[class*=_container] {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 12px 19px;
  line-height: 133%;
  color: #A2B192;
  border: 1px solid #A2B192;
  border-radius: 41px;
  cursor: pointer;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #666;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  padding: 24px 0;
  background-color: #3A3A3A;
  color: #FFFFFF;
  position: relative;
}

.header__container {
  max-width: 1880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
          flex: 0 1 310px;
  padding-right: 20px;
}

.header__icon {
  margin-right: 15px;
}

.header__name {
  font-size: 15px;
  line-height: 133%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A3A3A;
}

.header__arrow {
  display: block;
  cursor: pointer;
}

.header__exit {
  padding: 10px 18px;
  font-size: 15px;
  cursor: pointer;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.header__link {
  margin-right: 30px;
  color: #9C9C9C;
  font-size: 15px;
  line-height: 126.6666666667%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__link:hover {
  color: #909E80;
}

.header__phone {
  position: relative;
  padding-right: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 127.7777777778%;
  color: #F1EEE7;
}

.header__phone::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 45px;
  height: 45px;
  background: url("../img/icons/phone.svg");
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

@media (min-width: 769px) {
  .header__close {
    display: none;
  }
}

@media (min-width: 1500px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 1642px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1499px) {
  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 105px;
    right: -100%;
    background-color: #909E80;
    margin: 0;
    padding: 100px 40px 40px;
  }

  .header__menu.active {
    right: 0;
  }

  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__link {
    color: #F1EEE7;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .header__link:hover {
    color: #F1EEE7;
  }

  .header__call {
    margin-right: 35px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }

  .header__icon {
    width: 70px;
    height: 29px;
  }

  .header__name {
    display: none;
  }

  .header__menu.active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
  }

  .header__call {
    margin-right: 10px;
  }

  .header__phone {
    font-size: 0;
    width: 40px;
    height: 40px;
    display: block;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}